{% extends "base.html" %}
{% block content %}
  
    <h1>Tips til hvordan lage gode spørsmål:</h1>

    <ul>
        <li>Vurdere elevenes forståelse av fagstoffet</li>
        <li>Vise om elevene har misforstått noe</li>
        <li>Gi retning for hvordan framtidig undervisning skal legges opp</li>
        <li>Teste elevenes forståelse av tidligere undervisning</li>
        <li>Vurdere om elevene kan overføre kunnskap til nye situasjoner</li>
        <li>Vise om eleven er klare til å gå videre i fagstoffet</li>
        <li>La elevene vurdere sin egen forståelse</li>
    </ul>

    <h3>Caldwell 2007</h3>

{% endblock %}